* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gallery-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  background: #c9ffbf;
  background: -webkit-linear-gradient(to right, #ffafbd, #c9ffbf);
  background: linear-gradient(to right, #ffafbd, #c9ffbf);
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
}

.media-card {
  height: 20rem;
  width: 20rem;
  border: 1px solid;
  margin-top: 20px;
}

.actual-media {
  width: 100%;
  height: 80%;
}

.actual-media img,
.actual-media video {
  height: 100%;
  width: 100%;
}

.media-buttons {
  height: 20%;
  width: 100%;
}

.media-buttons button {
  height: 50%;
  width: 100%;
  font-size: 1.2rem;
  color: white;
}

.media-download {
  background-color: #9e18d3;
  border: none;
  transform: translateY(1.2);
}

.media-delete {
  background-color: #fad367;
  border: none;
}

.back-btn {
  position: absolute;
  bottom: 4rem;
  right: 3rem;
  padding: 15px 40px;
  background-color: #1b9cfc;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.background-text {
  display: flex;
  padding-top: 45vh;
  text-align: center;
  font-size: 30px;
}
