* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.video-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

video {
  height: 100%;
  width: 100%;
}

button {
  position: absolute;
  right: 50px;
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50%;
  background-color: black;
  border: 8px solid white;
  z-index: 3;
}

button span {
  height: 60%;
  width: 60%;
  display: inline-block;
  border-radius: 50%;
  background-color: red;
}

#record {
  top: 200px;
}

#record span {
  background-color: red;
}

#capture {
  top: 372px;
}

#capture span {
  background-color: white;
}

.filters {
  z-index: 3;
  height: 12rem;
  width: 5rem;
  border: 1px solid;
  position: fixed;
  top: 33vh;
  left: 3.5rem;
  display: flex;
  flex-direction: column;
}

.filter {
  border: 1px solid;
  flex-grow: 1;
  background-blend-mode: color-burn;
  background-size: cover;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/91wcUPNHFEL.png);
}

.zoom {
  z-index: 3;
  height: 4rem;
  width: 8rem;
  position: fixed;
  top: 8vh;
  right: 3rem;
  display: flex;
}

.zoom div {
  background-color: #332e2e;
  flex-grow: 1;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoom div:nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.zoom div:nth-child(2) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.zoom div:hover {
  background-color: #7f8fa6;
  color: #332e2e;
  cursor: pointer;
  user-select: none;
}

.capture-animation {
  animation: shrinkDownUp;
  animation-duration: 1s;
}

.record-animation {
  animation: shrinkDownUp;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes shrinkDownUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.filter-div {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
}

#gallery {
  top: 80%;
  /* left: 5%; */
  color: #ffffff;
  font-size: 1.1rem;
}

@media only screen and (max-width: 650px) {
  .filters {
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 12rem;
    position: absolute;
    top: 1vh;
    left: 10%;
  }

  .zoom {
    z-index: 3;
    height: 3rem;
    width: 6rem;
    position: fixed;
    top: 1vh;
    left: 70%;
    display: flex;
  }

  button {
    position: absolute;

    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    background-color: black;
    border: 4px solid white;
    z-index: 3;
  }

  button span {
    height: 70%;
    width: 70%;
    display: inline-block;
    border-radius: 50%;
    background-color: red;
  }

  #record {
    left: 35%;
    top: 80%;
  }

  #record span {
    background-color: red;
  }

  #capture {
    left: 65%;
    top: 80%;
  }

  #gallery {
    top: 80%;
    left: 5%;
    color: #ffffff;
    font-size: 1.1rem;
  }

  #capture span {
    background-color: white;
  }
}
